{% extends "workflow/base.html" %}
{% block title %}Request Detail{% endblock %}

{% block content %}
<h3 class="mb-3">{{ request_obj.title }}</h3>

<p><strong>Description:</strong> {{ request_obj.description }}</p>

<p><strong>Status:</strong> <span class="badge 
  {% if request_obj.status == 'PENDING' %}bg-warning text-dark
  {% elif request_obj.status == 'APPROVED' %}bg-success
  {% elif request_obj.status == 'REJECTED' %}bg-danger
  {% elif request_obj.status == 'IN_PROGRESS' %}bg-info text-dark
  {% elif request_obj.status == 'COMPLETED' %}bg-primary
  {% endif %}
">
  {{ request_obj.status }}
</span>
</p>

<p><strong>Requester:</strong> {{ request_obj.requester.name }}</p>

<p><strong>Approver:</strong>
  {% if request_obj.approver %}
    {{ request_obj.approver.name }}
  {% else %}
    None
  {% endif %}
</p>

<p><strong>Due Date:</strong> {{ request_obj.due_date }}</p>

<div class="d-flex gap-2 mt-3">
  {% if request_obj.approver %}
    {% if employee.id == request_obj.approver.id %}
      {% if request_obj.status == "PENDING" %}
        <a href="{% url 'workflow:request_approve' request_obj.id %}" class="btn btn-success">Approve</a>
        <a href="{% url 'workflow:request_reject' request_obj.id %}" class="btn btn-danger">Reject</a>
      {% endif %}
    {% endif %}
  {% endif %}

  <a href="{% url 'workflow:request_list' %}" class="btn btn-secondary">Back</a>
</div>
{% endblock %}